*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    color: inherit;
    text-decoration: none;
    box-sizing: border-box;
}
.head{
    height: 87px;
    width: 100%;
    border-bottom: 1px solid #abb8c3;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.for-logo{
padding-left: 45px;
}
.for-nav ul{
    margin-left: 25px;
    display: flex;
}
.for-nav ul li{
    margin-left: 33px;
    color: #4b4747;
    font-size: 16px;
    font-weight: 400;
    font-family: Arial;
    letter-spacing: 0.5px
}
.for-nav i{
    margin-left: 3px;
    position: relative;
    top: 2px;
}
.for-search{
    width: 36px;
    height: 42px;
    position: relative;
    top: 0px;
    right: -33px;
    /* background-color: red; */
    border-left: 1px solid rgba(222, 227, 233, 1);
}
.for-search img{
    height: 15px;
    width: 15px;
    position: relative;
    top: 12px;
    right: -20px;
}
.sec{
    width: 100%;
    margin-top: 50px;
}
.sec h1{
    color: #666;
    font-size: 48px;
    font-family: Arial;
    font-weight: 400;
    letter-spacing: 2.2px;
    margin-left: 65px;
}
.third{
    width: 100%;
    margin-top: 52px;
}
.third h2{
    color: #666;
    margin-left: 65px;
    font-size: 24px;
    /* font-weight: 800; */
    letter-spacing: 3.6px;
    font-family: Arial;
}
.mid-sec{
    width: 100%;
    margin: auto;
    /* background-color: red;
    height: 10px; */
    padding-top: 30px;
    display: flex;
}
.part-1{
    width: 680px;
    height: 745px;
    margin-left: 40px;
}
.part-1 img{
    width: 630px;
    height: 472px;
}
.part-1 h6{
    height: 27px;
    font-size: 20px;
    font-family: Arial;
    font-weight: lighter;
    margin-top: 20px;
    letter-spacing: 1px;
    border-bottom:  2px solid#1877F2;
    display: inline-block;
}
.part-1 h3{
    color: #000;
    font-size: 41px;
    font-family: Arial;
    line-height: 43px;
    letter-spacing: 1.8px;
    font-weight: lighter;
    margin-top: 20px;
}
.part-1 p{
    color: #666;
    margin-top: 10px;
    letter-spacing: 1.5px;
    /* line-height: 1.5px; */
    font-family: Arial, sans-serif;
    font-size: 17px;
    margin-bottom: 12px;
}
.part-1 p1{
    color: #505e6b;
    font-family: Arial;
    font-size: 14px;
    padding-top: 12px;
}
.part-2{
    width: 680px;
    height: 743px;
    /* background-color: blue; */
}
.con-1{
    width: 342px;
    height: 209px;
    float: left;
}
.con-1 h6{
    height: 27px;
    font-size: 20px;
    font-family: Arial;
    font-weight: lighter;
    letter-spacing: 1px;
    border-bottom:  2px solid#1877F2;
    display: inline-block;
}
.con-1 h3{
    color: #000;
    font-size: 25px;
    font-family: Arial;
    line-height: 35px;
    letter-spacing: 1.8px;
    font-weight: lighter;
    margin-top: 15px;
}
.con-1 p{
    color: #666;
    margin-top: 10px;
    letter-spacing: 1.5px;
    /* line-height: 1.5px; */
    font-family: Arial, sans-serif;
    font-size: 17px;
    margin-bottom: 12px;
}
.con-1 p1{
    color: #505e6b;
    font-family: Arial;
    font-size: 14px;
    padding-top: 12px;
}
.con-2{
    width: 264px;
    height: 209px;
    float: left;
    margin-left: 40px;
    overflow: hidden;
}
.con-2 img{
    width: 100%;
    height: 100%;
    /* padding-top: 10px; */
    transition: 0.5s;
    overflow: hidden;
    cursor: pointer;
}
.con-3{
    width: 342px;
    height: 230px;
    float: left;
    /* background-color: red; */
    margin-top: 60px;
}
.con-3 h6{
    height: 31px;
    font-size: 20px;
    font-family: Arial;
    font-weight: lighter;
    letter-spacing: 1px;
    border-bottom: 2px solid #ba01e0;
    display: inline-block;
}
.con-3 h3{
    color: #000;
    font-size: 25px;
    font-family: Arial;
    line-height: 35px;
    letter-spacing: 1.8px;
    font-weight: lighter;
    margin-top: 15px;
}
.con-3 p{
    color: #666;
    margin-top: 10px;
    letter-spacing: 1.5px;
    /* line-height: 1.5px; */
    font-family: Arial, sans-serif;
    font-size: 17px;
    margin-bottom: 12px;
}
.con-3 p1{
    color: #505e6b;
    font-family: Arial;
    font-size: 14px;
    padding-top: 12px;
}
.con-4{
    height: 264px;
    height: 198px;
    margin-top: 60px;
    float: left;
    margin-left: 40px;
    overflow: hidden;
}
.con-4 img{
    height: 100%;
    width: 100%;
    transition: 0.5s;
    overflow: hidden;
    cursor: pointer;
}
.con-5{
    width: 342px;
    height: 230px;
    float: left;
    /* background-color: red; */
    margin-top: 50px;
}
.con-5 h6{
    height: 31px;
    font-size: 20px;
    font-family: Arial;
    font-weight: lighter;
    letter-spacing: 1px;
    border-bottom: 2px solid lightgreen;
    display: inline-block;
}
.con-5 h3{
    color: #000;
    font-size: 25px;
    font-family: Arial;
    line-height: 35px;
    letter-spacing: 1.8px;
    font-weight: lighter;
    margin-top: 15px;
}
.con-5 p{
    color: #666;
    margin-top: 10px;
    letter-spacing: 1.5px;
    /* line-height: 1.5px; */
    font-family: Arial, sans-serif;
    font-size: 17px;
    margin-bottom: 12px;
}
.con-5 p1{
    color: #505e6b;
    font-family: Arial;
    font-size: 14px;
    padding-top: 12px;
}
.con-6{
    height: 264px;
    height: 198px;
    margin-top: 50px;
    float: left;
    margin-left: 40px;
    overflow: hidden;
}
.con-6 img{
    height: 100%;
    width: 100%;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
}
.end-sec{
    width: 100%;
    /* background-color: tomato;
    height: 50px; */
    margin-top: 100px;
    display: flex;
}
.item-1{
    width: 730px;
    height: 537px;
    background-color: #f5f2f2;
}
.item-1 h6{
    height: 31px;
    font-size: 20px;
    font-family: Arial;
    font-weight: lighter;
    letter-spacing: 1px;
    border-bottom: 2px solid #1877F2;
    display: inline-block;
    margin-top: 200px;
    margin-left: 80px;
}
.item-1 h3{
    color: #000;
    font-size: 37px;
    font-family: Arial;
    line-height: 46px;
    letter-spacing: 1.8px;
    font-weight: lighter;
    margin-top: 15px;
    margin-left: 80px;
}
.item-1 p{
    color: #666;
    margin-top: 10px;
    letter-spacing: 1.5px;
    /* line-height: 1.5px; */
    font-family: Arial, sans-serif;
    font-size: 17px;
    margin-bottom: 12px;
    margin-left: 80px;
}
.item-1 p1{
    color: #505e6b;
    font-family: Arial;
    font-size: 14px;
    padding-top: 12px;
    margin-left: 80px;
}
.item-2{
    width: 715px;
    height: 535px;
    overflow: hidden;
}
.item-2 img{
    width: 100%;
    height: 100%;
    transition: 0.5s;
    overflow: hidden;
    cursor: pointer;
}
.list-item{
    height: 756px;
    width: 190px;
    /* background-color: #ba01e0; */
    margin-top: 100px;
    margin-left: 80px;
}
.list-item h6{
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: lighter;
    letter-spacing: 1px;
}
.list-item ul li{
    margin-top: 18px;
    font-size: 14px;
    color: #333333;
    font-family: Arial, sans-serif;
    letter-spacing: 1.5px;
}
.list-item h5{
    margin-top: 30px;
    color:#677b8c;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}
.links{
    height: 109px;
    width: 100%;
    background-color:#f5f2f2 ;
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.links h3{
    color: #344854;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    letter-spacing: 1.5px;
}
.links p{
    color: #3a3a3a;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.foot{
    width: 100%;
    /* height: 50px;
    background-color: yellow; */
    margin-top: 80px;
    display: flex;
}
.foot-1{
    width: 347px;
    height: 612px;
    padding-left: 50px;
}
.foot-1 p{
    color: #222222;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
}
.image{
    height: 25px;
    width: 100%;
    /* background-color: #ba01e0; */
    margin-top: 15px;
}
.image img{
    height: 25px;
    width: 25px;
    margin-right: 15px;
}
.foot-2{
    width: 347px;
    height: 612px;
    /* background-color: #1877F2; */
}
.foot-2 h4{
    color: #344854;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.foot-2 ul li{
    color: #222222;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
}
.foot-3{
    width: 347px;
    height: 612px;
    /* background-color: red; */
}
.foot-3 h4{
    color: #344854;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.foot-3 ul li{
    color: #222222;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
}
.foot-4{
    width: 347px;
    height: 612px;
    /* background-color: burlywood; */
}
.foot-4 h4{
    color: #344854;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.foot-4 ul li{
    color: #222222;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
}
.end{
    width: 100%;
    /* height: 5px;
    background-color: violet; */
    margin-top: 20px;
    display: flex;
    padding-bottom: 30px;
}
.end p{
    color: #222222;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
   
}
.end select{
    border: none;
    color: #222222;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 670px; 
    cursor: pointer;
}
.con-2 img:hover{
    transform: scale(1.02,1.02);
}
.con-4 img:hover{
    transform: scale(1.02,1.02);
}
.con-6 img:hover{
    transform: scale(1.02,1.02);
}
.item-2 img:hover{
    transform: scale(1.02,1.02);
}
.how{
    height: 450px;
    width: 100%;
    position: absolute;
    top: 87px;
    right: 0px;
    background-color: white;
    display: flex;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 3px 2px #ccc;

}
/* .for-nav ul li{
    position: relative;
} */
.ys-1{
    height: 100%;
    width: 250px;
    background-color: white;
    margin-left: 200px;
}
.ys-1 img{
    width: 100%;
    height: 30%;
    margin-top: 20px;
}
.ys-1 h4{
    color: #677b8c;
}
.ys-1 ul li{
    font-size: 14px;
    margin-top: 15px;
    margin-left: 0px;
 
}
.ys-1 ul{
    margin: 0px;
    display: inline;
}
.ys-2{
    height: 100%;
    width: 250px;
    background-color: white;
    margin-left: 20px; 
}
.ys-2 img{
    width: 100%;
    height: 30%;
    margin-top: 20px;
}
.ys-2 h4{
    color: #677b8c;
}
.ys-2 ul{
    margin: 0px;
    display: inline;
}
.ys-2 ul li{
    font-size: 14px;
    margin-top: 20px;
    margin-left: 0px;
}
.for-nav ul li:hover .how{
    visibility: visible;
    opacity: 1;
}
.no-1{
    height: 100%;
    width: 200px;
    margin-left: 170px;
    /* background-color: #1877F2; */
}
.no-1 h4{
    color: #677b8c;
    margin-top: 50px;
}
.no-1 ul{
    margin: 0px;
    display: inline;
}
.no-1 ul li{
    font-size: 14px;
    margin-top: 20px;
    margin-left: 0px;
}
.for-nav ul li:hover{
    border-bottom: 2px solid rgb(73, 33, 250);
}
.for-nav ul li span i:hover{
    transform: rotate(180deg);
}
.for-nav ul li span i{
    transition: 0.5s;
}
